In [1]:
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [16]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, col
windowSpec  = Window.partitionBy("department").orderBy(col("salary").desc())

df.withColumn("row_number",row_number().over(windowSpec)) \
    .show(truncate=False)

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|Jen          |Finance   |3900  |1         |
|Scott        |Finance   |3300  |2         |
|Maria        |Finance   |3000  |3         |
|Jeff         |Marketing |3000  |1         |
|Kumar        |Marketing |2000  |2         |
|Michael      |Sales     |4600  |1         |
|Robert       |Sales     |4100  |2         |
|Saif         |Sales     |4100  |3         |
|James        |Sales     |3000  |4         |
|James        |Sales     |3000  |5         |
+-------------+----------+------+----------+